.Loader {
  padding: 2rem;
  text-align: center;
}

.Loader__image {
  width: 3rem;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: scale(0, 0);
  }

  50% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}
