@import './normalize';
@import './reset';

html {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #444;
  transition: 200ms;
}

.container {
  width: 1024px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 100%;
    padding: 0 2rem;
  }
}
