.BreedList {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.BreedList__item {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 16rem;

  @media (max-width: 768px) {
    width: 33.3%;
  }

  @media (max-width: 576px) {
    width: 50%;
  }
}

.BreedList__key {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.BreedList__name {
  padding: 0.5rem 0;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
