.DogImage__image-wrap {
  width: 15rem;
  height: 15rem;
  margin: 0.5rem;
  background: #ccc;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.DogImage__image--loaded {
  background: none;
}

.DogImage__image--hidden {
  background: none;

  img {
    display: none;
  }
}

.DogImage__like {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;

  img {
    width: 100%;
  }
}
