.Header {
  height: 5rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.Header__logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  &:hover .Header__logo__image {
    display: none;
  }

  &:hover .Header__logo__image--full {
    display: inline;
  }
}

.Header__logo__images {
  width: 3rem;
  padding-right: 1rem;
  position: relative;
}

.Header__logo__image {
  width: 100%;
}

.Header__logo__image--full {
  display: none;
}

.Header__nav__list {
  display: flex;
  align-items: center;
}

.Header__list__item {
  padding: 0 0.5rem;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0.5rem;
    // width: calc(100% - 1rem);
    width: 0;
    height: 2px;
    background-color: #444;
    transition: 200ms;
  }

  &:hover::after {
    width: calc(100% - 1rem);
  }
}
