.BreedHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.BreedHeader__back {
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    margin-right: 1rem;
    transition: 200ms;
  }

  &:hover {
    img {
      transform: translate(-0.5rem, 0);
    }
  }
}

.BreedHeader__breed {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2rem;
}

.BreedHeader__subbreeds {
  display: flex;
  padding-left: 3rem;
  text-transform: capitalize;
}

.BreedHeader__subbreed {
  margin-right: 1rem;
}
