.SearchBar {
  display: flex;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.SearchBar__form {
  display: flex;
  align-items: center;
}

.SearchBar__input {
  width: 31rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #555;
  padding: 0 1rem;
  margin: 0 1rem 0.5rem 0;

  @media (max-width: 576px) {
    width: 12rem;
  }
}

.SearchBar__button {
  img {
    width: 2rem;
  }
}
